<form>
    <div class="section">
        <div>
            <input type="text" pInputText />
            <input type="text" pInputText />
        </div>
        <input type="text" pInputText />
        <input type="text" pInputText />
        <input type="text" pInputText />
        <input type="text" pInputText />

    </div>

    <div>
        შემადგენელი საწარმოს გადასახადის გადამხდელის მისამართი :
    </div>

    <div>
        <input type="text" pInputText />
        <input type="text" pInputText />
    </div>


    <div>
        ძირითადი ეკონომიკური საქმიანობა/საქმიანობები :
    </div>

    <div class="checkboxes-wrap">
        <div class="checkboxes-main">
            <div *ngFor="let option of options" class="field-checkbox">
                <p-checkbox [label]="option.name" name="group" [value]="option" />
            </div>
        </div>

        <div class="checkboxes-side">
            <p-checkbox label="სხვა" name="group" value="სხვა" />

            <textarea   pInputTextarea ></textarea>
        </div>


    </div>

    <p-button label="დამატება">
        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M11 7V15M7 11H15M21 11C21 16.5228 16.5228 21 11 21C5.47715 21 1 16.5228 1 11C1 5.47715 5.47715 1 11 1C16.5228 1 21 5.47715 21 11Z"
                stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
    </p-button>



</form>