<form [formGroup]="formGroup">

    <div class="top-side">
        <div class="section">
            <app-custom-input type="text" [icon]="userIcon" placeholder="მულტინაციონალური საწარმოთა ჯგუფის სახელწოდება"
                [disabled]="true">
            </app-custom-input>
            <app-custom-input type="text" [icon]="calendarIcon"
                placeholder="შესაბამისი ფისკალური წელი" [disabled]="true">
            </app-custom-input>
        </div>

        <div class="bottom-side">
            <app-custom-input [icon]="caseIcon" type="dropdown" placeholder="საგადასახადო იურისდიქცია *" [required]="true"></app-custom-input>
            <app-custom-input type="text" placeholder="საგადასახადო იურისდიქციის რეზიდენტი შემადგენელი საწარმოები *" [required]="true"></app-custom-input>
            <app-custom-input type="text" placeholder="შემადგენელი საწარმოს გადასახადის გადამხდელის საიდენტიფიკაციო ნომერი *" [required]="true"></app-custom-input>
            <app-custom-input type="text" placeholder="რეგისტრაციის ან დაფუძნების საგადასახადო იურისდიქცია, თუ განსხვავდება რეზიდენტობის საგადასახადო იურისდიქციისგან" [required]="true"></app-custom-input>
        </div>
    </div>

    <div class="section-header">
        შემადგენელი საწარმოს გადასახადის გადამხდელის მისამართი :
    </div>

    <div formGroupName="address" class="address-section">
        <app-custom-input type="dropdown" placeholder="ქვეყანა" [required]="true"></app-custom-input>
        <app-custom-input type="text" placeholder="მიუთითეთ მისამართი" [required]="true"></app-custom-input>
    </div>

    <div class="section-header">
        ძირითადი ეკონომიკური საქმიანობა/საქმიანობები :
    </div>

    <div class="checkboxes-wrap">
        <div class="checkboxes-main">
            <div *ngFor="let option of options" class="field-checkbox">

                <!-- <p-checkbox  name="group" [value]="option" /> -->
                <app-custom-input width="fit-content" type="checkbox" [label]="option.name"></app-custom-input>

            </div>
        </div>

        <div class="checkboxes-side">

            <!-- <p-checkbox label="სხვა" name="group" value="სხვა" binary="true">
                </p-checkbox> -->
            <app-custom-input width="fit-content" type="checkbox" label="სხვა"></app-custom-input>

            <app-custom-input placeholder="ჩაწერეთ შენიშვნა *" type="textarea" width="258px" height="122px"></app-custom-input>
        </div>
    </div>

    <p-button label="დამატება" (click)="onSubmit()">
        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M11 7V15M7 11H15M21 11C21 16.5228 16.5228 21 11 21C5.47715 21 1 16.5228 1 11C1 5.47715 5.47715 1 11 1C16.5228 1 21 5.47715 21 11Z"
                stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
    </p-button>
</form>