<form>

  <div class="section">
    <div>
      <input type="text" pInputText  />
      <input type="text" pInputText  />
      <input type="text" pInputText  />
    </div>
    <input type="text" pInputText  />
  </div>

  <div>
    შემოსავლები:
  </div>

  <div class="section">
    <div>
      <input type="text" pInputText  />
      <input type="text" pInputText  />
      <input type="text" pInputText  />
    </div>

    <div>
      <input type="text" pInputText  />
      <input type="text" pInputText  />
      <input type="text" pInputText  />
      <input type="text" pInputText  />
      <input type="text" pInputText  />
      <input type="text" pInputText  />
      <input type="text" pInputText  />
    </div>
    
  </div>
  
</form>