<form>
  <div class="section">
    <div>
      <app-custom-input type="text" [icon]="userIcon" placeholder="მულტინაციონალური საწარმოთა ჯგუფის სახელწოდება"
        [disabled]="true">
      </app-custom-input>
      <app-custom-input type="text" [icon]="calendarIcon" placeholder="შესაბამისი ფისკალური წელი"
        [disabled]="true"></app-custom-input>
      <app-custom-input type="text" [icon]="curencyIcon" placeholder="გამოსაყენებელი ვალუტა *"
        [required]="true"></app-custom-input>
    </div>
    <app-custom-input type="dropdown" [icon]="caseIcon" placeholder="საგადასახადო იურისდიქცია *"
      [required]="true"></app-custom-input>
  </div>

  <div class="section-header">
    შემოსავლები:
  </div>

  <div class="section">
    <div>
      <app-custom-input type="text" placeholder="დამოუკიდებელი მხარე *" [required]="true"></app-custom-input>
      <app-custom-input type="text" placeholder="დამოკიდებული მხარე *" [required]="true"></app-custom-input>
      <app-custom-input type="text" placeholder="სულ *" [required]="true"></app-custom-input>
    </div>

    <div>
      <app-custom-input type="text" placeholder="მოგება ( ზარალი ) მოგების გადასახადმე *"></app-custom-input>
      <app-custom-input type="text"
        placeholder="გადახდილი მოგების გადასახადი ( საკასო საფუძველზე ) *"></app-custom-input>
      <app-custom-input type="text" placeholder="დარიცხული მოგების გადასახადი - მიმდინარე წელი *"></app-custom-input>
      <app-custom-input type="text" placeholder="კაპიტალი *"></app-custom-input>
      <app-custom-input type="text" placeholder="დაგროვილი მოგება *"></app-custom-input>
      <app-custom-input type="text" placeholder="თანამშრომელთან რაოდენობა *"></app-custom-input>
      <app-custom-input type="text"
        placeholder="მატერიალური აქტივები (გარდა ნაღდი ფულის / მისი ექვივალენტისა)*"></app-custom-input>
    </div>

  </div>

  <p-button label="დამატება">
    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M11 7V15M7 11H15M21 11C21 16.5228 16.5228 21 11 21C5.47715 21 1 16.5228 1 11C1 5.47715 5.47715 1 11 1C16.5228 1 21 5.47715 21 11Z"
        stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
  </p-button>



</form>