<div class="card">
  <p-tabView #tabView [(activeIndex)]="activeIndex">
    <p-tabPanel>
      <ng-template pTemplate="header">
        <span (click)="onPrevClick($event)">წინა</span>
      </ng-template>
    </p-tabPanel>

    <p-tabPanel header="1">
      <app-cbc-reports-new></app-cbc-reports-new>
    </p-tabPanel>
    <p-tabPanel header="2">
      <app-aditional-info-new></app-aditional-info-new>
    </p-tabPanel>
    <p-tabPanel header="3">
      <app-reporting-entity-new></app-reporting-entity-new>
    </p-tabPanel>

    <p-tabPanel>
      <ng-template pTemplate="header">
        <span (click)="onNextClick($event)">შემდეგი</span>
      </ng-template>
    </p-tabPanel>
  </p-tabView>
</div>
