.header-text{
    color: var(--Text-Titles, #19506E);

/* Large Paragraph/Bold */
font-family: HelveticaNeueLTGEOW82-75Bd;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 28px; /* 155.556% */
letter-spacing: -0.36px;
}